<div class="input-group">
  <select class="form-control bg-secondary border-muted text-light" [(ngModel)]="filter.field" name="field" (change)="changeField()">
    <option *ngFor="let opt of Object.keys(client.filterInfo)" [value]="opt">{{opt}}</option>
  </select>
  <select class="form-control bg-secondary border-muted text-light" [(ngModel)]="filter.op" name="op" [disabled]="!filter.field" (change)="changeOp()">
    <option *ngFor="let opt of operatorOptions" [value]="opt">{{opt}}</option>
  </select>
</div>
<span class="badge badge-secondary border-muted text-light mt-1 ml-1" *ngFor="let value of filter.values; index as i">
  {{client.filterInfo[filter.field].valueName(value)}}
  <a (click)="removeValue(i)" [octicon]="'x'"></a>
</span>

<div class="input-group mt-1">
  <select class="form-control bg-secondary border-muted text-light" [(ngModel)]="selected" name="value" [disabled]="!filter.op">
    <option *ngFor="let opt of valueOptions" [ngValue]="opt">{{client.filterInfo[filter.field].valueName(opt)}}</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-secondary text-light border-muted" (click)="addValue()" [octicon]="'plus'" width="1.1em" [disabled]="!selected"></button>
  </div>
</div>